{% extends "master.html" %}
{% block content %}
<style>
  input,
  select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  form{
    margin-right: 10px;
    margin-left: 10px;
    margin-top:15px;
  }
</style>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Post a missing person</li>
</ol>
<br><br>
<!-- Content Row -->
<div class="row">
  <div class="col-lg-3 mb-4">

  </div>
  <div class="col-lg-6 mb-4">
    <div class="card card-outline h-100">
      <h3 class="card-header bg text-black">Fill this form</h3>

      <form enctype="multipart/form-data" method="POST" class="form">
        {% csrf_token %}
        {{form.as_p }}
        <input style="width:100%" class="btn btn-success" type="submit" value="Upload"
          class="btn btn-default button button-block">
      </form>

    </div>
  </div>
  <div class="col-lg-3 mb-4">

  </div>
</div><br><br><br>
{% endblock %}